*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
a{ 
    text-decoration: none;
  
}

/*HEADER*/

header{
    background: linear-gradient(white, aqua,white);
}

nav{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items:center;

    background-color: var(--nav-bg-color);
    color: var(--nav-bg-color);
    height: 8rem;
    padding: 0 2.4rem;
}
ul{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 3rem;
}
/*MAIN*/
main{
    background:linear-gradient(white,antiquewhite,white,antiquewhite);
    height: 100%;
}
h1{
    padding: 20px 0 20px 0;
}

footer{
    background: linear-gradient(white, aqua,white);
    display: flex;
    padding: 30px;
    align-items: first baseline;
    justify-content: space-around;
}
